#row {
    margin-right: 30px;
    margin-top: 30px;
}

#background {
    position: absolute;
    z-index: -1;
}

#example:hover {
    background-color: #15c2d2;
    font-weight: bolder color: black;
}

#example:active {
    background-color: #1096a2;
    font-weight: bolder;
    color: black;
}

#example {
    margin-top: 7px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ef5330;
    font-weight: bold;
    color: black;
}

#navbar {
    text-align: center;
    color: red;
}

.navbar-centered .navbar-nav {
    float: none;
    text-align: center;
    font-family: 'Source Sans Po', sans-serif;
}

.navbar-centered .navbar-nav>li {
    display: inline;
    float: none;
    display: inline-block;
}

body {
    background: "";
}

#picture {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#reason {
    height: 200px;
    float: right;
}

#jumbotron {
    background-color: white;
}

#backform input {
    background-color: lightgrey;
}

#jumbo1 {
    color: #3F3B39;
    font-weight: bold;
    text-align: center;
}

#textarea {
    background-color: lightgrey;
}

#foot1s {
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: 60px;
}

#foot2s {
    font-weight: bold;
}

#logo3 {
    padding-top: 50px;
}

#sponsor {
    color: #3F3B39;
    Font-weight: bolder;
    text-align: center;
}

.sponsor {
    float: right;
}

section {
    border: solid, white;
    background-color: white;
}
