#row {
    margin-right: 30px;
    margin-top: 30px;
}

#background {
    position: absolute;
    z-index: -1;
}

#example:hover {
    background-color: #15c2d2;
    font-weight: bolder;
    color: black;
}

#example:active {
    background-color: #1096a2;
    font-weight: bolder;
    color: black;
}

#example {
    margin-top: 7px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ef5330;
    font-weight: bold;
    color: black;
}

#navbar {
    text-align: center;
    color: red;
}

.navbar-centered .navbar-nav {
    float: none;
    text-align: center;
    font-family: 'Source Sans Po', sans-serif;
}

.navbar-centered .navbar-nav>li {
    display: inline;
    float: none;
    display: inline-block;
}

body {
    background: "";
}

#picture {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#Opportunities {
    text-align: center;
    color: #3F3B39;
    font-weight: bold;
}

#Program {
    color: #15c2d2;
    font-weight: bold;
}

#Foundation {
    color: #15c2d2;
    font-weight: bold;
}

#advanced{
 color: #15c2d2;
    font-weight: bold;
}

#intern{
   color: #15c2d2;
    font-weight: bold;  
}

#curriculum{
    text-align: center;
    color: #3F3B39;
    font-weight: bold;
}


      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
      	height:550px;
        width: 100%;
        
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      
#curriculum {
    color: #3F3B39;
    font-weight: bold;
    right:0%;
}

#curriculum:hover {
    color: #ef5330;
    font-weight: bolder;
    right:0%;
}

#curriculum:active {
    color: #1096a2;
    font-weight: bolder;
    right:0%;
}

#grad{
    height: 500px;
    
}

#found{
height:500px;
width:820px;
}

#jumbotron{
    background-color: white;
}

#foot1s{
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: 60px;
    
}

#foot2s{
    font-weight: bold;
    
}

#logo3{
    padding-top: 50px;
}

#sponsor{
    color:#3F3B39;
    Font-weight: bolder;
    text-align: center;
}

.sponsor{
    float: right;
}

section{
    border: solid, white;
    background-color: white;
    
}

#jumbotron5, #jumbotron6{
    background-color: white;
}

#names{
    border: solid;
    background-color: white;
    border-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
